.search{
  flex: 7;
}
.search-wrapper{
  max-width: 935px;
  width: 100%;
  max-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(113, 113, 113, 0.7);
  padding: 24px 16px;
  border-radius: 8px;
}
.search__title{
  font-family: 'Inter';
  font-style: normal; 
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--black-color);
  border-right: 1px solid rgba(113, 113, 113, 0.7);
  padding-right: 20px;
  margin-right: 20px;
}
.search-input{
  width: 100%;
  padding: 0 0 0 20px;
  border: none;
  outline: none;
  flex: 11;
}
.search-input::placeholder{
  width: 100%;
  padding: 0 0 0 20px;
  border: none;
  outline: none;
  flex: 11;
  color: var(--secondary-color);
}